/* Error: expected "{".
 *   ,
 * 4 | background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/images/bg/responsive-design.webp), $principalBg;
 *   |                                                                                                                                ^
 *   '
 *   sass/_services3.scss 4:128  @import
 *   sass/main.scss 8:9          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a   \2577 \a 4 \2502  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/images/bg/responsive-design.webp), $principalBg;\a   \2502                                                                                                                                 ^\a   \2575 \a   sass/_services3.scss 4:128  @import\a   sass/main.scss 8:9          root stylesheet';
}
