* {
  padding: 0;
  margin: 0;
}

a {
  color: black;
}

body {
  box-sizing: border-box;
  font-family: "Amatic SC", cursive;
  font-size: 35px;
}

.grid-container {
  display: grid;
  grid-template-areas: "menu menu menu menu" "header header header header" "title title title title" "services services services services" "main main main main" "section section section section" "contacto contacto contacto contacto" "footer footer footer footer";
  gap: 90px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.header {
  grid-area: header;
  padding-top: 15px;
  height: 800px;
  text-align: center;
  padding: 15px;
}
.header h1 {
  padding: 25px;
  color: #F3FA3A;
}

.menu {
  grid-area: menu;
  padding-top: 15px;
  padding: 50px;
  /* background: $primaryColor; */
  height: auto;
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main {
  grid-area: main;
  height: 100%;
  display: flex;
  width: 100%;
  padding: 30px;
  flex-direction: column;
  align-items: center;
}

.title {
  grid-area: title;
  width: 100%;
  text-align: center;
  margin-bottom: -40px;
}

.services {
  grid-area: services;
  height: 300px;
  padding: 30px;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.services h2 {
  display: inline-block;
}
.services div {
  border: 2px solid rgba(128, 128, 128, 0.563);
  padding: 50px;
}

section {
  grid-area: section;
  height: 100%;
  margin-top: 150px;
}

.contacto {
  grid-area: contacto;
  display: flex;
  align-items: center;
  height: 600px;
  padding: 30px;
}

.footer {
  background-color: #d2ffc8;
  grid-area: footer;
  height: 200px;
}

.menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
}
.menu-container li {
  padding: 50px;
  justify-content: center;
}

.card {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.card div {
  padding: 30px;
}
.card p {
  flex-wrap: wrap;
}

.portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-column {
  flex-direction: column;
  gap: 20px;
}

.tarjeta {
  margin: 20px;
  border: 2px solid black;
}

.card-w3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 600px;
  margin: auto;
  text-align: center;
}
.card-w3 div, .card-w3 p, .card-w3 a, .card-w3 button {
  margin: 24px 0;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: rgba(0, 110, 95, 0.462745098);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

button:hover, a:hover {
  opacity: 0.7;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/paula-perfil.jpeg");
  /* Set a specific height */
  height: 100%;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  margin-top: 30px;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

/* Make sure that padding behaves as expected */
* {
  box-sizing: border-box;
}

/* Container for skill bars */
.skills {
  width: 30%; /* Full width */
  background-color: #ddd; /* Grey background */
  margin: 10px;
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {
  width: 90%;
  background-color: #7778A6;
} /* Green */
.css {
  width: 80%;
  background-color: rgba(0, 110, 95, 0.462745098);
} /* Blue */
.js {
  width: 65%;
  background-color: #7778A6;
} /* Red */
.wordpress {
  width: 60%;
  background-color: rgba(0, 110, 95, 0.462745098);
} /* Dark Grey */
/* Style inputs, select elements and textareas */
input[type=text], select, textarea {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: rgba(0, 110, 95, 0.462745098);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */
.contacto-container {
  border-radius: 5px;
  text-align: center;
  width: 100%;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/*# sourceMappingURL=stylesheet.css.map */
