.form {
    background-image: $principalBg;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
        h2 { 
            color:$primaryColor; 
            margin-top: 100px;
        }

     
}


.contacto-container {
text-align: center;
padding: 50px;

.my-button { 
    margin: auto;
    }
}

input,textarea {
    width: 600px;
    height:auto; 
    padding: 10px;
    font-size: 30px;
    margin: 5px;
    }