.footer { 
  
    grid-area:footer;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    
    li, a {

      list-style: none;
      text-decoration: none;
      margin: 15px;
      }
    
     p { font-size: 23px; color: black;}

  }

.logo-icon {
   img { border-radius: 120%;}
  }
