.footer { 
  
    background-color: $yellow; 
    grid-area:footer;
    height: 100%;
    width: 100%;
    padding: 20px;
    li, a { 
      list-style: none;
      text-decoration: none;
      }
    
      

  }
  