.footer { 
  
    background-color: $yellow; 
    grid-area:footer;
    padding: 20px;

    li, a {

      list-style: none;
      text-decoration: none;
      margin: 15px;
      }
    
     

  }
  
.logo-icon {
   img { border-radius: 120%;}
  }