$primaryColor:#F0AA65;
$secondColor: #648DA4;
$thirdColor: #D2D396; 
$yellow: #8FA777;
$primaryColor-opacity: #F9ECE5;

*{
  padding: 0;
  margin: 0;
 
}

a {color: black;}

body{ 
  box-sizing: border-box;
  font-family: 'Amatic SC';
  font-size: 35px;
  overflow-x:hidden;
  background: url(/images/desktop/v720-nunny-05-abstractbackground.jpg) ;
  background-blend-mode:darken;
}

.grid-container { 

  display: grid;
  grid-template-areas: 'menu menu menu menu'
                        'header header header header'
                        'services services services services'
                        'skills skills skills skills'
                        'section section section section'
                        'contacto contacto contacto contacto'
                        'footer footer footer footer';
                        gap: 20px;
                      
}         


.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}





.card{ 


  div { padding: 30px;}

        align-items: center;

  p{ flex-wrap: wrap;}
}


