$primaryColor:#F0AA65;
$secondColor: #648DA4;
$thirdColor: #D2D396; 
$yellow: #8FA777;
$primaryColor-opacity: #F9ECE5;

*{
  padding: 0;
  margin: 0;
 
}

a {color: black;}

body{ 
  box-sizing: border-box;
  font-family: 'Amatic SC';
  font-size: 25px;
  overflow-x:hidden;
  background: url(/images/desktop/v720-nunny-05-abstractbackground.png) ;
  background-repeat: no-repeat;
  background-size:cover;
  background-blend-mode:lighten; 
}

h1{ font-size: 35px;}
h2 {font-size: 30px;}
h4 { font-size: 25px; 
  font-weight: 700; text-decoration: underline;}

.grid-container { 

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 150px 400px repeat(5,auto);
  grid-template-areas: 'menu menu menu menu'
                        'header header header header'
                        'services services services services'
                        'skills skills skills skills'
                        'section section section section'
                        'contacto contacto contacto contacto'
                        'footer footer footer footer';
                        gap: 100px;
                      
}         


.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}


.flex-column { 

  display: flex;
  flex-direction: column;
  justify-content: center;
 align-items: center;
}





.card{ 


  div { padding: 30px;}

        align-items: center;

  p{ flex-wrap: wrap;}
}


