.header {


  background-image: linear-gradient(rgba(0, 0, 0, 0.973), rgba(0, 0, 0, 0.5)), url(/images/px-conversions/20553.jpg);
opacity: 0.5;
min-height: 500px;

background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

h2 { margin-top: 180px;}

}