      



    @media screen  and (max-width: 600px){
  
      html { overflow-x: hidden;}
       .grid-container { 
       grid-template-columns: auto;
       grid-template-rows: repeat(7,auto);
       grid-template-areas: 'menu '
                             'header'
                             'services '
                             'skills '
                             'section '
                             'contacto '
                             'footer ';
       }
     
       .footer { display: hide;}

       .menu-container { display: none;}
          .mobile { 
           display: flex;
        flex-direction: row;

    flex-wrap: wrap;}
     
     }