      
      @media (max-width: 700px) {
        .grid-container { 

            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 150px 400px repeat(5,auto);
            grid-template-areas: 'menu menu menu menu'
                                  'header header header header'
                                  'services services services services'
                                  'skills skills skills skills'
                                  'section section section section'
                                  'contacto contacto contacto contacto'
                                  'footer footer footer footer';
                                  gap: 100px;
                                
          }         
.menu-container { display: none;}
          .mobile { 
           display: flex;
        flex-direction: row;

    flex-wrap: wrap;} }