
.portfolio { 
  background-image: $principalBg;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;


  h2 { 

    padding-top: 100px;
  }
}
  /*  display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   
   // background: $primaryColor-opacity;
    //box-shadow: 0 35px 35px rgba(0, 0, 0, 0.5);
  
}
 */

.portfolio-container { 

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  
}
  
/* .flip-card-inner { width: 300px;} */
.card-w3 {
  
    width: 400px;
    min-width: 300px;
    height: auto;
    margin: 2px;
   /*  box-shadow: 0 35px 35px rgba(0, 0, 0, 0.5); */
    text-align: center;
    padding: 15px; 
    
    
  .img-portfolio { 
    filter: grayscale(100%);
  }
    img:hover { 
      filter: invert(0%);  
      animation-delay: 2s; 
      cursor: pointer; 
      
    }
    div, p , a , button  {
            margin: 24px 0;
          }  
}