
.portfolio-container { 

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   
   // background: $primaryColor-opacity;
    //box-shadow: 0 35px 35px rgba(0, 0, 0, 0.5);
  
}


.portfolio { 
display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 30px;
  
    }
  
  
    .card-w3 {
        
      width: 500px;
      min-width: 300px;
        height: 550px;
        margin: 2px;
        box-shadow: 0 35px 35px rgba(0, 0, 0, 0.5);
        text-align: center;
        padding: 15px; 
    
    
          .img-portfolio { 
            filter: grayscale(100%);}
            img:hover { 
              filter: invert(0%);  
              animation-delay: 2s; 
              cursor: pointer; }


          div, p , a , button  {
            margin: 24px 0;}  
      }
      
 