
li { text-decoration: none; list-style: none;}
.grid-container { 

    display: grid;
    grid-template-areas: 'menu menu menu menu'
                          'header header header header'
                          'main main main main'
                          'main main main main'
                          
                          'footer footer footer footer';
                          gap: 20px;
                        
  }         
  .main { grid-area: main; width: 100%;  padding: 20px;

img { width : 50%; text-align: center; display: flex; }
button { display: flex; width : 200px; text-align: center; margin: 15px;}
}

