
.services { 
    grid-area: services;
    height: auto;
    padding: 10px;

    
    .services-div  { 
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      height: 350px;
      background: $primaryColor-opacity;
      opacity: 90%;
    
    
    p,img,h4 { text-align: center; padding: 5px; ;}
    
    }
    div {  
      border: 2px solid rgba(128, 128, 128, 0.563); 
      padding: 50px; margin: 10px;} 
    
    }