.services2 {


background-color: $primaryColor;
  background-image: linear-gradient(rgba(0, 0, 0, 0.973), rgba(0, 0, 0, 0.5)), url(../images/px-conversions/analytics-plan-strategy-insight-concept\ Background\ Removed.png);
min-height: 75vh;
  
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: contain;



  h2 { margin-top: 180px;}
}


