
.services { 

  display: flex;
  flex-direction: column;

margin: 20px;


  .services-container { 

  display: flex;
  width: 100%;
  flex-wrap: wrap;

justify-content: center;
  gap: 20px;
  }    
    
    .services-div  { 
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items:center;
      justify-content: space-around;
      box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
      -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); 
      border: 2px solid rgba(128, 128, 128, 0.563); 
      padding: 10px; margin: 10px;
      width: 250px;
      max-height: 450px;
      gap: 20px;


      } 
 
      
    
    
    p,img,h4 { 
      text-align: center;
      padding: 5px;
      margin: 10px;;}
    
    }
  /*   
  */
    
    